/* Estilos para la página de inicio */
.pagina-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.pagina-inicio header {
    margin-bottom: 20px;
}

.pagina-inicio .texto-bienvenida {
    font-size: 24px;
    margin-bottom: 20px;
}

.boton-iniciar {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Media queries para diseño responsivo */
@media (max-width: 768px) {
    .boton-iniciar {
        padding: 8px 16px;
        font-size: 16px;
    }
}

/* Estilos base comunes para todas las resoluciones */
/* ... */

/* Estilos para resoluciones pequeñas (móviles) */
@media (max-width: 576px) {
    /* Estilos específicos para pantallas pequeñas */
}

/* Estilos para resoluciones medianas (tabletas) */
@media (min-width: 577px) and (max-width: 992px) {
    /* Estilos específicos para pantallas medianas */
}

/* Estilos para resoluciones grandes (computadoras de escritorio) */
@media (min-width: 993px) {
    /* Estilos específicos para pantallas grandes */
}

/* Estilos específicos para la página de "Operaciones" */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo {
    max-width: 50%;
}

h1 {
    font-size: 24px; /* Tamaño de fuente para el título */
}

.botones-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
/* Estilos para todos los botones */
.boton-comun {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px; /* Espacio entre los botones */
}

/* Media query para diseño responsivo */
@media (max-width: 768px) {
    .boton-comun {
        padding: 8px 16px;
        font-size: 16px;
    }
}
.botones-container {
    display: flex;
    flex-direction: column; /* Para apilar los grupos verticalmente */
    align-items: center;
    margin-top: 20px;
}
.boton-group {
    display: flex;
    justify-content: space-between; /* Los botones se separan en dos grupos */
    margin: 5px 0; /* Espacio entre los grupos */
}

.boton-cancelar {
    background-color: #ccc; /* Fondo gris para el botón "Cancelar" */
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 0 5px 0 0; /* Esquina superior derecha redondeada */
    margin: 5px; /* Espacio entre los botones */
}
@media (max-width: 768px) {
    .boton-comun,
    .boton-cancelar {
        padding: 8px 16px;
        font-size: 16px;
    }
}